@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Light.ttf");
}
@font-face {
  font-family: "Rubik-Medium";
  src: url("../fonts/Rubik-Medium.ttf");
}
* {
  padding: 0;
  margin: 0;
}
body {
  color: #797979;
  background: #f3f4f6;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
button {
  background-color: transparent;
  border: none;
  text-decoration: none;
  outline: none;
}
button:hover,
button:focus,
input:hover,
input:focus,
select:hover,
select:focus,
textarea:hover,
textarea:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: inherit;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  color: #2d3443;
  margin-bottom: 0.5rem;
  overflow-wrap: break-word;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select::-ms-expand {
  display: none;
}
img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.form-group {
  margin-bottom: 30px;
}

/* ########## HomePage Screen ########## */
.home-header {
  top: 0;
  background: transparent;
  width: 100vw;
}
.nav-header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
  z-index: 999;
  padding: 15px 120px;
  -webkit-transition: 0.1 ease;
  -o-transition: 0.1 ease;
  transition: 0.1 ease;
}
.sticky {
  top: 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  position: fixed;
}
.logo-container {
  display: flex;
  align-items: center;
}
.logo {
  color: #fff;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: 0 10px 28px 1px rgba(3, 13, 40, 0.23);
  box-shadow: 0 10px 28px 1px rgba(3, 13, 40, 0.23);
  background: transparent -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(20, 184, 166, 1)),
      to(rgba(107, 225, 154, 1))
    ) 0% 0% no-repeat padding-box;
  background: transparent -o-linear-gradient(
      left,
      rgba(20, 184, 166, 1) 0%,
      rgba(107, 225, 154, 1) 100%
    ) 0% 0% no-repeat padding-box;
  background: transparent
    linear-gradient(
      90deg,
      rgba(20, 184, 166, 1) 0%,
      rgba(107, 225, 154, 1) 100%
    )
    0% 0% no-repeat padding-box;
}
.logo img {
  height: 80%;
  width: 80%;
  -o-object-fit: cover;
  object-fit: cover;
}
.blog-logo,
.blog-logo:hover {
  font-size: 24px;
  font-weight: 500;
  margin-left: 5px;
  color: #14b8a6;
}
.navigation {
  margin-left: 40px;
}
.navigation li {
  color: #2d3443;
  display: inline-block;
  padding: 5px;
  margin: 0 10px;
  font-weight: 400;
}
.navigation li:hover,
.navigation li.active {
  color: #14b8a6;
}
.nav-search {
  background: #f3f4f6 url("../images/search-icon.svg") no-repeat 96%;
  margin-left: auto;
  padding: 10px 15px;
  border: 1px solid #555555;
  width: 180px;
  height: 36px;
  border-radius: 20px;
  z-index: 999;
}
.menu-icon {
  display: none;
  position: relative;
  margin: 10px 5px;
  width: 24px;
  height: 22px;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.menu-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #797979;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.menu-icon span:nth-child(1) {
  top: 2px;
}
.menu-icon span:nth-child(2),
.menu-icon span:nth-child(3) {
  top: 10px;
  width: 60%;
}
.menu-icon span:nth-child(4) {
  top: 18px;
}
.menu-icon.open span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%;
}
.menu-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.menu-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu-icon.open span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}
.blog-container,
.single-blog {
  padding: 60px 120px;
}
.related-articles {
  padding: 30px 120px;
}
.title,
.cat-title {
  font-size: calc(18px + (32 - 18) * ((100vw - 300px) / 1300));
  font-weight: 900;
  margin-bottom: 30px;
  color: #2d3443;
}
.cat-title {
  font-size: calc(24px + (48 - 24) * ((100vw - 300px) / 1300));
  text-align: center;
}
.post {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 35px;
  overflow: hidden;
}
.post-img img {
  border-radius: 10px;
}
.post-details {
  margin-top: 5px;
  padding: 15px;
}
.post-tag {
  color: #14b8a6;
  font-weight: 500;
}
.post-title,
.blog-title {
  color: #2d3443;
  font-weight: 900;
  font-size: calc(16px + (22 - 16) * ((100vw - 300px) / 1300));
}
.blog-title {
  font-weight: 600;
  font-size: calc(18px + (28 - 18) * ((100vw - 300px) / 1300));
  margin-bottom: 10px;
  text-align: center;
}
.blog-tags {
  text-align: center;
  margin-bottom: 15px;
}
.blog-tags li {
  display: inline-block;
}
.blog-tags li span1 {
  color: #14b8a6;
  font-weight: 600;
}
.blog-tags li span {
  margin: 0 10px;
}
.blog-tags li a:hover {
  color: #14b8a6;
}
.social-share,
.blog-share {
  text-align: center;
  margin-bottom: 15px;
  font-size: 18px;
}
.social-share li,
.blog-share li {
  display: inline-block;
  margin: 0 10px;
}
.social-share li:hover {
  color: #14b8a6;
}
.blog-share li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: 1px solid #797979;
  border-radius: 50%;
}
.blog-share li a:hover {
  background: #14b8a6;
  border-color: #14b8a6;
  color: #ffffff;
}
.fa-telegram-plane:before {
  content: "\f3fe";
}
.blog-content {
  padding: 30px 0;
  font-size: 18px;
  color: rgba(41, 41, 41, 1);
}
.comment-section {
  margin-top: 60px;
}
.tab-nav {
  border-bottom: 1px solid #f4f4f4;
  padding: 0;
  margin: 0;
}
.tab-nav li {
  display: inline-block;
  font-weight: 400;
}
.tab-nav li a {
  display: block;
  padding: 10px 15px;
  background-color: #f4f4f4;
  text-transform: capitalize;
  color: #303030;
}
.tab-nav li.active a {
  background-color: #14b8a6;
  color: #ffffff;
  border-bottom: none;
}
.tab-nav li:hover {
  color: #14b8a6;
}
.tab-nav li.active:hover {
  color: #ffffff;
}
.tab-content {
  padding: 15px;
}
.download-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 40px;
}
.download-btns a:first-of-type {
  margin-right: 15px;
}
.more {
  margin-top: 20px;
}
.more a {
  color: #14b8a6;
  font-weight: 300;
  font-size: 13px;
}
.more i {
  display: none;
}
.more:hover i {
  display: inline-block;
}
.story-img {
  width: 70%;
  margin: 0 auto;
}
.download-pennytree {
  background: transparent -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(20, 184, 166, 1)),
      to(rgba(107, 225, 154, 1))
    ) 0% 0% no-repeat padding-box;
  background: transparent -o-linear-gradient(
      left,
      rgba(20, 184, 166, 1) 0%,
      rgba(107, 225, 154, 1) 100%
    ) 0% 0% no-repeat padding-box;
  background: transparent
    linear-gradient(
      90deg,
      rgba(20, 184, 166, 1) 0%,
      rgba(107, 225, 154, 1) 100%
    )
    0% 0% no-repeat padding-box;
  color: #ffffff;
  padding: 90px 120px;
}
.download-pennytree h2 {
  color: #ffffff;
  margin: 0;
  font-weight: 900;
  font-size: calc(28px + (48 - 28) * ((100vw - 300px) / 1300));
}
.login-bg {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.login-form {
  width: 450px;
  max-width: 100vw;
  text-align: center;
  padding: 60px 15px;
}
.login-form h3 {
  font-family: "Rubik";
  margin-bottom: 25px;
}
.login-form p {
  text-align: left;
  margin-bottom: 20px;
  color: #ca1b1b;
}
.form-group {
  margin-bottom: 20px;
  position: relative;
}
.form-group label {
  margin-bottom: 5px;
  display: block;
  text-align: left;
}
.login-form input {
  height: 45px;
  padding: 0 15px;
  border: 1px solid #c4c4c4;
  color: #212b36;
  border-radius: 5px;
  background-color: #ffffff;
  width: 100%;
  outline: 0;
  -webkit-box-shadow: 0;
  box-shadow: 0;
}
.form-group input:focus {
  border-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}
.eye-toggler {
  position: absolute;
  top: 50%;
  right: 10px;
  cursor: pointer;
}
img.login-logo {
  border-radius: 10px;
  margin-bottom: 40px;
  height: 35px;
  width: auto;
}
.login-btn {
  background: #14b8a6;
  width: 100%;
  height: 55px;
  color: #ffffff;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  margin-bottom: 30px;
}

.thin {
  font-weight: 300;
}
.app-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.app-btn {
  padding: 15px 30px;
  border: 1px solid #fff;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  min-width: 200px;
  text-align: center;
  color: #fff;
  border-radius: 40px;
  margin: 0;
}
.app-btn i {
  font-size: 24px;
  margin-right: 5px;
}
.app-btn-one {
  margin-right: 15px;
}
.app-btn:hover {
  background-color: #ffffff;
  color: #010409;
}
.faq-search input {
  padding: 15px 20px;
  width: 100%;
  height: 60px;
  border: none;
  background-color: rgb(250, 251, 255);
  border-radius: 5px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 10px 30px 0 rgb(5 16 44 / 15%);
  box-shadow: 0 5px 30px 0 rgb(5 16 44 / 15%);
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}
.error-404-page button {
  background-color: #14b8a6;
  border: 1px solid #14b8a6;
  color: #ffffff;
  width: 200px;
  height: 55px;
  border-radius: 5px;
}
.error-404-page button:hover {
  background-color: #ffffff;
  color: #14b8a6;
}
.page-header {
  background-color: #14b8a6;
  padding: 90px 120px;
  text-align: center;
}
.page-header h2 {
  color: #ffffff;
}
footer {
  background-color: #f7f8fc;
  padding: 90px 90px 50px;
}
.footer-logo {
  height: 40px;
  margin-bottom: 35px;
}
.footer-logo img {
  width: auto;
}
footer ul,
footer li {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer h4 {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
}
footer ul li {
  opacity: 0.8;
  margin-bottom: 15px;
}
footer p {
  opacity: 0.75;
  margin-bottom: 35px;
}
footer .sm-ac li {
  display: inline-block;
  margin: 0;
  margin-right: 10px;
  font-size: 18px;
}
footer a:hover {
  color: #14b8a6;
}
.copyright {
  margin: 70px 0 0;
  text-align: left;
}
.story,
.about-us,
.error-404-page {
  padding: 60px 120px;
}
.story p,
.about-us p {
  font-weight: 300;
  line-height: 2;
  margin-bottom: 15px;
  text-align: justify;
}
.story p strong {
  color: #14b8a6;
}
.vision {
  margin-bottom: 50px;
}
.vision h4 {
  position: relative;
  padding-bottom: 10px;
}
.vision h4::after {
  position: absolute;
  background: #14b8a6;
  width: 70px;
  height: 4px;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  content: "";
  display: block;
}
.vision h2 {
  font-family: "EB Garamond";
  font-size: calc(32px + (52 - 32) * ((100vw - 300px) / 1300));
}
.about-us .title,
.story .title {
  margin-top: 35px;
}
.error-404-img {
  min-width: 280px;
  width: 60vw;
  margin: 0 auto;
}
.error-404-page {
  text-align: center;
}
.error-404-page h3 {
  font-weight: 400;
  margin-bottom: 35px;
}
.section2 {
  padding: 50px 120px;
}
.section2 h2 {
  font-weight: 900;
  font-size: calc(28px + (52 - 28) * ((100vw - 300px) / 1300));
  margin-bottom: 20px;
  color: #14b8a6;
}
.section2 p {
  font-size: 24px;
}
.section2-img {
  width: 100%;
  height: 650px;
  border-radius: 25px;
  overflow: hidden;
}
.section2-img img {
  object-position: top;
}
.learn-more {
  color: #14b8a6;
  margin-top: 15px;
}
.why-become-an-associate,
.requirements {
  background-color: #f3f8f5;
  padding: 50px 120px;
}
.requirements {
  background: transparent;
}
.requirements h3,
.why-become-an-associate h3 {
  font-weight: 900;
  margin-bottom: 25px;
  text-align: center;
}
.reason {
  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0 10px 20px 0 rgb(5 16 44 / 15%);
  box-shadow: 0 10px 18px 0 rgb(5 16 44 / 15%);
  background-color: #ffffff;
  height: 100%;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.reason:hover {
  transform: translateY(-15px);
}
.reason img {
  height: 70px;
  width: auto;
  margin-bottom: 15px;
}
.reason img.cap {
  height: 110px;
}
.reason h6 {
  font-weight: 900;
  font-size: 18px;
}
.requirements-img {
  height: 550px;
  object-position: bottom;
  overflow: hidden;
  border-radius: 25px;
}
.requirements ul {
  text-align: left;
}
.requirements ul li {
  display: flex;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #000000;
  position: relative;
}
.requirements ul li span {
  position: absolute;
  height: 20px !important;
  width: 20px;
  top: 3px;
  border-radius: 50%;
  margin-right: 10px;
  display: inline-flex;
  background: transparent -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(20, 184, 166, 1)),
      to(rgba(107, 225, 154, 1))
    ) 0% 0% no-repeat padding-box;
  background: transparent -o-linear-gradient(
      left,
      rgba(20, 184, 166, 1) 0%,
      rgba(107, 225, 154, 1) 100%
    ) 0% 0% no-repeat padding-box;
  background: transparent
    linear-gradient(
      90deg,
      rgba(20, 184, 166, 1) 0%,
      rgba(107, 225, 154, 1) 100%
    )
    0% 0% no-repeat padding-box;
}
.requirements ul li p {
  padding-left: 35px;
}
.join-btn,
.join-program {
  margin-top: 35px;
  background: #14b8a6;
  border: 1px solid #14b8a6;
  color: #ffffff;
  width: 200px;
  height: 55px;
  border-radius: 5px;
}
.join-btn:hover,
.join-program:hover {
  background: transparent;
  color: #14b8a6;
}
.join-community {
  display: flex;
  justify-content: center;
  align-items: center;
}
.join-now {
  border: 1px solid #ffffff;
  padding: 15px 70px;
  color: #ffffff;
  border-radius: 30px;
  margin: 0 auto;
}
.join-now:hover {
  background-color: #ffffff;
  color: #14b8a6;
}
.wordCount {
  color: #010409;
  font-weight: 600;
  float: right;
  margin-bottom: 25px;
}
@media (max-width: 991px) {
  .blog-container {
    padding: 15px;
  }
  .join-now {
    margin-top: 25px;
    padding: 15px 30px;
  }
  .title h3 {
    text-align: center;
  }
  .product {
    text-align: center;
  }
  .product-icon {
    margin: 0 auto 25px;
  }
  .nav-header {
    height: 50px;
    padding: 5px 15px;
    justify-content: space-between;
  }
  .logo {
    height: 40px;
    width: 40px;
  }
  .navigation {
    display: block;
    position: fixed;
    left: -320px;
    top: 50px;
    width: 230px;
    z-index: 999;
    margin-left: 0;
    background-color: #fafafa;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .navigation.show {
    left: 0;
  }
  .navigation li {
    display: block;
    line-height: 1.5;
    font-weight: 300;
    padding: 15px;
    margin: 0;
  }
  .navigation li:hover {
    background-color: rgba(184, 221, 255, 0.25);
    border: none;
  }
  .nav-search {
    background: #ffffff url("../images/search-icon.svg") no-repeat 9px;
    margin-left: 0;
    width: 36px;
  }
  .nav-search:hover {
    position: absolute;
    right: 5px;
    background: #ffffff url("../images/search-icon.svg") no-repeat 96%;
    width: calc(100vw - 20px);
  }
  .menu-icon {
    display: block;
  }
  .nav-header.shadow:after {
    content: "";
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9;
  }
  .hero {
    height: auto;
    padding: 0 15px;
  }
  .caption-wrapper {
    margin-top: 0;
    padding: 50px 0 30px;
    text-align: center;
  }
  .hero-img img {
    margin-top: -25px;
  }
  .download-btns {
    width: 90vw;
    margin: 40px auto 0;
    max-width: 270px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .download-btns a {
    margin: 0;
  }
  .download-pennytree,
  .story,
  .about-us,
  .error-404-page {
    padding: 30px 15px;
  }
  .title {
    margin-bottom: 30px;
  }
  .read-more {
    text-align: center;
  }
  .thin {
    font-weight: 300;
  }
  .download-pennytree {
    text-align: center;
  }
  .app-btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 20px;
  }
  .app-btn-one {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .page-header {
    padding: 45px 15px;
  }
  footer {
    padding: 30px 15px 20px;
  }
  footer h4 {
    margin: 20px 0;
  }
  .copyright {
    margin: 30px 0 0;
    text-align: center;
  }
  .footer-logo {
    text-align: center;
  }
  footer p {
    text-align: center;
  }
  footer h4 {
    text-align: center;
  }
  footer ul {
    text-align: center;
  }
  .section2,
  .why-become-an-associate,
  .requirements {
    padding: 30px 15px;
  }
  .section2-img {
    height: auto;
    margin-top: 15px;
  }
  .section2 h2,
  .section2 p {
    text-align: center;
  }
  .section2 p {
    font-size: 16px;
  }
  .row-flex .col-lg-3 {
    margin-bottom: 25px;
  }
  .requirements ul li {
    font-size: 16px;
  }
  .join-program {
    width: 100%;
  }
}
/* ########## HomePage Screen End ########## */
.createPost input,
.createPost textarea,
.createPost select,
.postImage {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #797979;
  padding: 10px 15px;
  font-size: 28px;
  margin-bottom: 15px;
}
.createPost select,
.postImage {
  font-size: 14px;
}
.createPost textarea {
  font-size: 18px;
  min-height: 350px;
}
input[type="file"] {
  display: none;
}
.postImage {
  cursor: pointer;
}
#postImagePreview {
  display: none;
  height: 250px;
  width: auto;
}
.publishPost {
  background-color: #14b8a6;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
}
